# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Environment Files
# =========================
.env
**/.env
.env.*

# =========================
# Build Files
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Cache
# =========================
.vite/
.cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db